doctype html
html
  head
    include _head

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.noscroll
    noscript
      style.
        .preloader {display:none !important;}
      div
        strong For full functionality of this site it is necessary to enable JavaScript. Download the update here 
        a(href="http://enable-javascript.com")
          | enable-javascript.com
      
    //if lte IE 8
      p.off-js
        | Ваш браузер устарел, пожалуйста 
        b обновите
        |  его.
    // PRELOADER
    include _preloader
    // PRELOADER
    // mobile menu
    include _mobile-menu
    // mobile menu
    // wrapper start
    .wrapper
      // header SECTION
      include _header
      // header SECTION
      // page item
      section.found-page
        .container
          .not-found
           svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='251px', height='118.041px', viewbox='0 0 251 118.041', enable-background='new 0 0 251 118.041', xml:space='preserve')
             g
               g
                 rect(x='92.615', y='69.308', fill='#C82236', width='14.386', height='25.719').rect--1
                 rect(x='110.496', y='69.308', fill='#C82236', width='14.385', height='48.732').rect--2
                 rect(x='128.374', fill='#2A97EA', width='14.435', height='69.308').rect--3
                 rect(x='146.257', y='31.521', fill='#2A97EA', width='14.431', height='37.787').rect--4
               path(fill='#C82236', d='M70.706,74.83H54.479v24.021h-6.054V74.83H0v-4.312L46.686,4.188h7.793v65.104h16.228V74.83z\
               M48.425,69.292V42.375c0-12.964,0.3-23.848,0.902-32.648h-0.515c-0.86,1.589-3.5,5.625-7.922,12.107L7.662,69.292H48.425z')
               path(fill='#C82236', d='M251,74.83h-16.229v24.021h-6.054V74.83h-48.425v-4.312L226.98,4.188h7.791v65.104H251V74.83z\
               M228.719,69.292V42.375c0-12.964,0.301-23.848,0.902-32.648h-0.516c-0.859,1.589-3.5,5.625-7.922,12.107l-33.229,47.458H228.719\
               L228.719,69.292z')
            .not-found-cont
              .not-found-title Oops, This Page Not Found!
              .not-found-text The page may have been removed
              a.waves-effect.waves-light.btn(href='#') Go back home
      // page item
      .puship-bottom-block
      .above-footer
    include _footer
