
.mobile-menu
  span.close-menu-mob.js_close_mob_nav
  ul
    li.with-menu
      a(href='#') Home  
        span.open-drop-menu
      ul.mobile-menu-drop.section.table-of-contents
        li
          a(href="#section1").scroll-to Products
        li
          a(href="#section2").scroll-to Services  
        li 
          a(href="#section3").scroll-to Education 
        li
          a(href="#section4").scroll-to Hire
        li
          a(href="#section5").scroll-to Events
    li.with-menu
      a(href='#') Products
        span.open-drop-menu
      ul.mobile-menu-drop.section.table-of-contents
        li
          a(href="#") MathDB Cloud
        li
          a(href="#") MathDB Desktop   
    li.with-menu
      a(href='#') Services
        span.open-drop-menu
      ul.mobile-menu-drop.section.table-of-contents
        li
          a(href="#") DSAAS - Data Science as a Service
        li
          a(href="#") AIAAS - AI as a Service 
        li
          a(href="#") MLAAS - Machine Learning as a Service 
        li
          a(href="#") ICAAS - Intelligent Computing as a Service 
    li
      a(href='#') Education
    li
      a(href='#') Hire 
    li
      a(href='#') Company

                                  