
.mobile-menu
  span.close-menu-mob.js_close_mob_nav
  ul
    li.with-menu
      a(href='#') Home  
        span.open-drop-menu
      ul.mobile-menu-drop.section.table-of-contents
        li
          a(href="#section1").scroll-to Products
        li
          a(href="#section2").scroll-to Services  
        li 
          a(href="#section3").scroll-to Education 
        li
          a(href="#section4").scroll-to Hire
        li
          a(href="#section5").scroll-to Events
    li
      a(href='#') Products
    li
      a(href='#') Services
    li
      a(href='#') Education
    li
      a(href='#') Hire 
    li
      a(href='#') Company

                                  