doctype html
html
  head
    include _head

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.noscroll
    noscript
      style.
        .preloader {display:none !important;}
      div
        strong For full functionality of this site it is necessary to enable JavaScript. Download the update here 
        a(href="http://enable-javascript.com")
          | enable-javascript.com
      
    //if lte IE 8
      p.off-js
        | Ваш браузер устарел, пожалуйста 
        b обновите
        |  его.
    // PRELOADER
    include _preloader
    // PRELOADER
    // mobile menu
    include _mobile-menu
    // mobile menu
    // wrapper start
    .wrapper
      // header SECTION
      include _header
      // header SECTION
      //banner section
      .banner(style="background:url(assets/images/banner.jpg) 50% 50% no-repeat")
        .banner-caption
          | We make breakthrough products that change
          br
          | the way people use data.
      //banner section
      // page item
      section.page-item.contact-page
        .container
          .page-left-fixed-nav
            ul.section.table-of-contents
              li.collapse-nav
                a(href='#!') Company
              li.collapse-nav
                a(href='#!') Leadership Team
              li.collapse-nav
                a(href='#!') News & Events
                span.collapse-butt.icon-ico22
                ul.collapse-box
                  li
                    span.collapse-nav-active
                      span.icon-ico02 
                      | News
                  li
                    a(href="#!") Blog
                  li
                    a(href="#!") Publications
              li.collapse-nav
                a(href='#!') Careers
              li.collapse-nav.collapse-nav-active
                span.collapse-nav-span
                 span.icon-ico02 
                 | Contact Us
          .row
            .col.l9.offset-l3.s12
              .heading-section.align-left.heading-section--red Contact Us
              .heading-contact Office Locations
              .row.contact-box
                .col.l4.m4.s12
                  .contact-item
                    .contact-item__head US/Canada
                    ul
                      li 
                        b Seattle
                        | (Global headquarters)
                      li 837 North 34th Street, Suite 200
                      li Seattle, WA 98103
                      li
                        a(href="tel:+12066333400") +1 206-633-3400
                      li
                        a(href="tel:+12066333004") +1 206-633-3004 fax
                      li
                        a(href="mailto:info@itl.com").cont-lnk info@itl.com
                      li 
                        br
                  .contact-item
                    ul
                      li 
                        b.tlt-bold  Seattle
                      li 1441 Building
                      li 1441 North 34th Street, Suite 100
                      li Seattle, WA 98103
                      li Driving Directions
                      li
                        a(href="#!").cont-lnk Visitor Information
                      li
                .col.l4.m4.s12
                  .contact-item
                    .contact-item__head EMEA
                    ul
                      li 
                        b.tlt-bold  UK
                      li Blue Fin Building
                      li 110 Southwark Street
                      li London
                      li SE1 0SU
                      li 
                        a(href="tel:+4402033104500") +44 (0) 203-310-4500
                      li
                        a(href="#!").cont-lnk  Driving Directions
                  .contact-item
                    ul
                      li 
                        b.tlt-bold  Ireland
                      li The Oval
                      li Shelbourne Road
                      li Ballsbridge, Dublin 4
                      li Ireland
                      li
                        a(href="tel:+35312325100") + 353 1 232 5100
                .col.l4.m4.s12
                  .contact-item
                    .contact-item__head Asia Pacific
                    ul
                      li 
                        b.tlt-bold  Singapore
                      li South Beach Tower
                      li Level 10, 38 Beach Road
                      li Singapore 189767
                      li
                        a(href="tel:+6567685000") +65 6768 5000
                      li
                        a(href="tel:+6567685000") +65 6768 5000 Fax
                      li
                        a(href="#!").cont-lnk  Driving Directions
                  .contact-item
                    ul
                      li 
                        b.tlt-bold  Singapore
                      li South Beach Tower
                      li Level 10, 38 Beach Road
                      li Singapore 189767
                      li
                        a(href="tel:+6567685000") +65 6768 5000
                      li
                        a(href="tel:+6567685000") +65 6768 5000 Fax
                      li
                        a(href="#!").cont-lnk  Driving Directions
              .contact-form
                .heading-contact.align-left Contact form
                .row
                  form(action="#").js_validate
                    .col.l6.m12.s12.form-field.required-field
                      span Name (first name, last name)*
                      input(type="text",required)   
                    .col.l6.m12.s12.form-field.required-field
                      span Phone*
                      input(type="tel",required,data-validate="phone")
                    .col.l6.m12.s12.form-field.required-field
                      span Email*
                      input(type="email",required,data-validate="email")
                    .col.l6.m12.s12.form-field.required-field
                      span Subject*
                      select(name="#")
                        option(value="Select subject") Select subject               
                        option(value="1") Select subject 1                
                        option(value="1") Select subject 1                
                        option(value="1") Select subject 1   
                    .col.s12.form-field.required-field
                      span Message*
                      textarea(required).materialize-textarea
                    .col.s12.form-field.file-add
                      span Upload file:
                      label
                        | Upload from your computer
                        span.icon-ico31
                        input(type="file")
                      span.file-name File is not selected
                    button(type="submit").btn.waves-effect.waves-light submit       
      // page item
      .puship-bottom-block
      .above-footer
    include _footer
